/* App.css */
main {
  flex: 1;
  padding: 20px;
}

footer {
  background-color: #364f64;
  color: rgb(19, 16, 16);
  text-align: center;
  padding: 10px;
}

.container {
  display: flex;
  height: 100vh;
}

.map {
  position: fixed;
  width: 30%;
  height: 100%;
}

.event-list {
  margin-left: 30%; /* Same as map width */
  overflow-y: auto;
  height: 100%;
}



body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: #3a497a;
  color: white;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

