/* General Styling */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
    background-color: #f5f5f5;
    color: #333; 
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
.header {
    background-color: #282c34;
    color: white;
    padding: 15px;
    width: 100%;
    z-index: 100; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.header input[type="text"], .header button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}

.header input[type="text"] {
    width: 250px; 
    font-size: 16px; 
}

.header button {
    background-color: #61dafb; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.header button:hover {
    background-color: #00aced; 
}

/* Main Content */
.main-content {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 140px); /* Adjust for header and footer */
    padding: 20px;
    margin-bottom: 60px;
}

/* Columns */
.map-container {
    width: 35%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.events-section {
    width: 35%;
    margin: 0 10px;
    overflow-y: auto;
}

.event-details {
    width: 30%;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.event-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.featured-event {
    animation: fade 1s ease-in-out;
  }
  
  @keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  


/* Footer */
footer {
    background-color: #364f64;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
    bottom: 0;
  }
  