General Styling
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5; /* Light gray background */
    color: #333; /* Dark gray text */
}

/* Container */
.outer-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
.header {
    background: linear-gradient(to right, #4158D0, #C850C0, #FFCC70); /* Vibrant gradient */
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Subtle shadow */
}

/* Main Content */
.main-content {
    display: flex;
    justify-content: space-around; /* Evenly space the map and event sections */
    padding: 20px;
}

/* Map Container */
.map-container {
    width: 60%;  /* Adjust map width as needed */
    height: 600px; /* Set a fixed height or make responsive */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* More pronounced shadow */
}

/* Events Section */
.events-section {
    width: 35%; /* Adjust events section width as needed */
    background-color: #fff; /* White background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow-y: auto; /* Add scrollbar if content overflows */
}
.events-section h2 {
    margin-top: 0; /* Remove default top margin */
}

.event-item {
    border-bottom: 1px solid #eee; /* Subtle separator */
    padding: 15px 0;
    transition: transform 0.2s, box-shadow 0.2s; /* Add smooth transitions */
}
.event-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* Event Details and Random Events */
.event-details, .random-events { 
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px; /* Add space between sections */
    overflow-y: auto;
}
.event-details h2, .random-events h2 {
    margin-top: 0;
}
.random-events { /* This is where you relocate the random events section */
    margin-top: 20px; /* Add some spacing from the event details */
}



