.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.map {
    flex: 1;
    height: 100%;
}

.event-list {
    flex: 1;
    overflow-y: auto;
    border-left: 1px solid #ccc;
    padding: 10px;
}

.event-details {
    flex: 1;
    overflow-y: auto;
    border-left: 1px solid #ccc;
    padding: 10px;
}
