.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 0.5em 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #4d6150;
  }
  

  nav {
    background-color: #3a497a;
    color: white;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }